body {
    margin: 0;
    background: #fffef8;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 탑배너 */
.top_banner {
    min-width: 980px;
    width: 100%;
    height: 40px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 14px;
    transition: all 0.3s;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

input[type="button"] {
    background-color: transparent; 
    color: white; 
    border: none; 
    font-size: 14px; 
    padding: 10px 15px; 
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 0; 
    cursor: pointer;
    z-index: 99;
}
.contentbox{ 
    width: 100%;
    max-width: 1450px;
    min-width: 980px;
    margin: 0 auto;
}
.contain { 
    padding: 0 100px;
    box-sizing: border-box;
}
header { 
    width: 100%;
    margin: 0 auto;
    position: sticky;
    background: #fffef8;
    top: 0;
    z-index: 99999;
}
/* 모바일헤더 */

.menu_pan {
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.3s;

    font-size: 18px;
    width: 80%;
    height: 100vh;
    background-color: #fffef8;
    box-sizing: border-box;
    text-align: center;
    padding: 10% 40px;
    z-index: 9997;
}
.layer {
    width: 100%;
    height: 100vh;
    background: #000;

    opacity: 0.5;
    z-index: 9996;
    position: absolute;
    top: 0;
    left: -300%;
    transition: all 0.3s;
    
}
.header_ul li, .mobile_inner_ul li, .ul_bot li {
    margin: 5px 0;
}

/* .t_menu_inner_ul {
    width: 80%;
    border: 1px solid;
} */
.header_ul {
    display: flex;
    justify-content: space-evenly;
}
.pan_line {
    height: 0.5px;
    background: #000;
    margin: 30px 0;
}
.mobile_inner_ul {
    margin: 20px 0;
}
/* 헤더탑 */
#header * {
    vertical-align: top;
}
.header_top {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
/* 왼쪽 메뉴 */
.mobie_menu {
    display: none;
}
.menu_box {
    position: relative;
}
/* .m_menu_show {
    top: 5px;
} */
.m_menu_inner_ul {
    position: absolute;
    top : 5px;
    left: -175%;
    transition: all 0.3s;
    
    /* opacity: 0; */
    display: none;
    /* display: flex; */
    font-size: 11px;
    color:#666666;
    gap: 20px;
}
.m_menu_inner_ul.active {
    display: flex;
}
.mobie_menu img {
    width: 19px;
}
.t_menu {
    display: flex;
    gap: 16px;
    cursor: pointer;
}
/* .gobal_btn:hover {
    opacity: 1;
    transform: translate(-50%, 10px);
} */
.t_menu_li {
    font-size: 18px;
    font-weight: 600;
    display: block;
    position: relative;
}
.t_menu_inner_ul {
    width: max-content;
    position: absolute;
    left: 50%;
    z-index: 9998;
    background: #fffef8;
    border: 1px solid #bdbdbd;;
    white-space: nowrap;
    padding: 10px 0;

    opacity: 0;
    transform: translate(-50%,-15px);
    transition: all 0.5s;
}
.t_menu_li:hover .t_menu_inner_ul{ 
    opacity: 1;
    transform: translate(-50%, 10px);
}
.t_menu_inner_ul li:hover { color:#666666;}

.t_menu li .t_menu_inner_ul li {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 5px 20px;
}
.black {
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    opacity: 1;
}
.lang {
    display: flex;
    align-items: center;
    gap: 5px;
}
.notice { border-top: 1px solid #bdbdbd;}

/* 로고박스 */
.logo_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 서치메뉴 */
.search_box {
    display: flex;
}
.search_menu {
    display: flex;
    gap: 15px;
    align-items: center;
}
.search li {position: relative;}
.cart_num {
    position: absolute;
    top: 40px;
    right: 7px;
    font-weight: 700;
}
/* 돋보기 누르면 나타나는 서치박스  */
.header_bot {
    width: 100%;
    /* min-width: 1200px; */
    height: 100px;
    background: #fffef8;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;

    position: absolute;
    top: 100%;
    left: 0;
}
.search {
    width: 300px;
    height: 45px;
    display: flex;
    position: absolute;
    border-radius: 30px;
    overflow: hidden;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    background: #f9f9f9;
}
.keyword {
    width: calc(100% - 20px);
    outline: none;
    border: none;
    background: #f9f9f9;
    padding: 0 30px 0 20px;
    box-sizing: border-box;
    font-size: 15px;
    color:#000; 
}
.icon_box {
    position: absolute;
    right: 20px;
    top: 12px;
}
#search_icon { cursor: pointer; }
.close_btn2 {
    position: absolute;
    right: 5%;
    top: 40px;
    cursor: pointer;
}

/* 푸터 */
.footer {
    width: 100%;
    /* min-width: 1200px; */
    margin-top: 120px;
    padding-bottom: 90px;
}
.sns_info {
    text-align: center;
    font-size:17px;
}
.shop_info {
    margin-top: 30px;
    text-align: center;
}
.shop_info > ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 14px;
}
.shop_info > span {
    font-size: 14px;
}
/* 1:1문의버튼 */
.inquiry_box {
    width: 380px;
    background: #f7f7f8;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    position: fixed; 
    bottom: 70px; 
    right: 20px;

    opacity: 0;
    transition: all 0.5s;
    display: none;

    z-index: 99999;
}
.inquiry_btn {
    position: fixed; 
    bottom: 20px; 
    right: 40px; 
    z-index: 1000;
}
.top_btn {
    width: 35px;
    position: fixed;
    bottom: 40px; 
    right: 110px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    display: none;
}
/* /////////////////// */
@keyframes ttt {
    
}
/* /////////////////// */
.x_btn {
    width: 65px;
    height: 65px;
    background: #fffef8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    line-height: 65px;
    text-align: center;
    position: fixed; 
    bottom: 20px; 
    right: 40px; 
    z-index: 1000;
    cursor: pointer;
    display: none;
}
.inner_logo img{ 
    border-radius: 20px;
    width: 56px;
}
.inner_logo {
    display: inline;
    padding-right: 10px;
}
.inner_header {
    width: 100%;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
}
.inner_desc > h2, span { margin: 0;}
.inner_desc_span {
    font-size: 12px;
    color: #616161;
}
.inner_desc_time { 
    display: flex;
    width: 100px;
    padding: 3px 0 3px 6px;
    border-radius: 10px;
    cursor: pointer;
}
.inner_desc_time:hover {
    background: #bdbdbd;
}
.right_arrow {
    width: 20px;
    height: 20px;
    text-align: center;
    margin: -3px 0px;
}
/* 문의창 바디 */
.inner_body {
    background: #fff;
    padding: 8px;
    box-sizing: border-box;
    /* display: flex; */
}
.profile img {
    border: 1px solid #dbdbdb;
    border-radius: 15px;
}
.profile {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.head {
    width: 60%;
    font-weight: 900;
    display: inline;
}
.introduction {
    width: 100%;
    font-size: 14px;
    padding-right: 40px; 
    box-sizing: border-box;
}
.introduction > p { margin: 0;}
.inner_top {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 5px;
    border-radius: 15px;
}
.txt_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
/* 문의하기부터 그 아래 */
.send_btn {
    width: 100%;
    background-color: #f7f7f8;
    padding: 10px 0;
    box-sizing: border-box;
    font-weight: 900;
    border-radius: 15px;
    cursor: pointer;
}
.send_btn:hover { background-color: #aaaaaa;}
.time {
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    color: #525252;
    margin: 10px 0;
}
.channeltalk {
    margin-top: 15px;
    font-size: 14px;
    color:#adadad;
    font-weight: 600;
    cursor: pointer;
}
.channeltalk:hover { color: #666666; }
/* 아이콘 푸터 */
.inner_footer {
    height: 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.f_icon {
    width: calc(100% / 3);
    height: auto;
    text-align: center;
    font-size: 15px;
    color:#616161;
    display: flex;
    flex-direction: column;
}
/* 문의창 중복코드 */
.common_css {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 980px) {
    .top_banner {
        width: 100%;
        min-width: 500px;
        font-size: 12px;
    }
    .contentbox { min-width: 500px;}
    .contain {
        padding: 0 50px;
        box-sizing: border-box;
    }
    .left_box{ display: none;}
    .mobie_menu {
        display: block;
        cursor: pointer;
    }
    .logo_box img {
        width: 150px;
    }

    .shop_info {
        padding: 0 50px; 
    }

}
@media screen and (max-width: 700px) {
    .header_bot {
        min-width: 600px;
    }
    
}
